.search
  align-items: center
  background: #fff
  border-radius: 3px
  border: 1px solid #3b5998
  box-sizing: border-box
  display: flex
  height: 26px
  justify-content: center
  max-width: 448px
  min-width: 144px
  width: 100%

.search__input
  background: transparent
  border: 0
  height: 100%
  outline: none
  padding: 5px 7px
  width: 100%
  &:focus ~ .search__button
    background: #4080ff
    svg
      fill: #fff

.search__button
  background: transparent
  border: 0
  cursor: pointer
  font-size: 0
  height: 100%
  padding: 0 16px
  transition: .3s all
  svg
    fill: #4e5665
    transition: .3s all
