.btn
  font-size: 1em
  border: 0
  padding: 10px
  display: block
  cursor: pointer
  transition: .3s all
  outline: none
  text-decoration: none
  user-select: none
  border-radius: 2px
  box-sizing: border-box
  +mobile
    border-radius: 5px
  &.default
    background: $primary
    border: solid 1px scale-color($primary, $lightness: -30%)
    color: #fff
    +mobile
      background: $primary-mobile
      border: 0
  &.disable
    opacity: .5
    pointer-events: none
  &.full
    width: 100%
  .icon
    transition: .3s all
