.sprite
  background-image: url('assets/sprite__facebook.png')
  background-repeat: no-repeat
  background-size: auto
  display: inline-block
  height: 20px
  width: 20px
  &.icon__user_mark
    background-position: -42px -995px
  &.icon__photo_video
    background-position: -21px -1100px
  &.icon__smile
    background-position: -42px -974px
  &.icon__bullet
    background-position: -42px -1394px
  &.icon__feed
    background-position: -21px -1058px
  &.icon__messenger
    background-position: 0 -869px
  &.icon__watch
    background-position: 0 -1206px
  &.icon__marketplace
    background-position: 0 -1058px
  &.icon__event
    background-position: -20px -933px
  &.icon__comment
    background-position: 0 -1436px
  &.icon__shared
    background-position: 0 -1456px
  &.icon__comment,
  &.icon__shared
    height: 18px
    width: 18px

.sprite_media
  background-image: url('assets/sprite__facebook_media.png')
  background-repeat: no-repeat
  background-size: auto
  display: inline-block
  height: 20px
  width: 20px
  &.icon__like
    background-position: -19px -402px
    height: 18px
    width: 18px
