.sprite
  background-image: url('assets/sprite__facebook.png')
  background-size: auto
  background-repeat: no-repeat
  display: inline-block
  height: 20px
  width: 20px
  &.user__mark
    background-position: -42px -995px
  &.photo__video
    background-position: -21px -1100px
  &.smile
    background-position: -42px -974px
