@import "_variables"

.aside
  .box
    background: #fff
    border-radius: 3px
    border: 1px solid #dddfe2
    margin-bottom: 12px
    padding: 8px
    h2,
    h3
      margin: 0
      margin-bottom: 5px
    h2
      font-size: 13px
      width: 100%
      span
        color: $primary
        float: right
        font-weight: normal
    p
      color: #616770
      font-size: 13px
      font-weight: normal
      margin: 0
      padding: 0
    a
      text-decoration: none

  .btn
    align-items: center
    background: transparent
    color: $primary
    display: flex
    font-size: 13px
    font-weight: bold
    justify-content: center
    line-height: 0
    padding: 5px
    i
      margin-right: 10px

.adsense
  figure
    margin: 0
    overflow: hidden
    padding: 0
    &:hover img
      transform: scale(2)
    img
      transform-origin: center
      transition: .5s all
      z-index: 1
    h3
      color: $primary
      font-size: 13px
      font-weight: bold
    figcaption
      background: #fff
      margin: 0
      padding: 5px 0
      position: relative
      z-index: 2
