<section class="aside">
  <article class="box">
    <button class="btn" type="button" name="button"><i class="sprite icon__event"></i> 2 convites para evento</button>
  </article>
  <article class="box adsense">
    <h2>Patrocinado <span>Criar anúncio</span></h2>
    <a href="http://curriculo-gratis.web.app" target="_blank">
      <figure>
        <img src="assets/curriculo-gratis.jpg" alt="Currículo Grátis" width="100%">
        <figcaption>
          <h3>Currículo Grátis</h3>
          <p>Criar um currículo grátis, rápido e fácil</p>
        </figcaption>
      </figure>
    </a>
  </article>
  <ng-content></ng-content>
</section>
