<footer class="footer">
  <ul>
    <li>Privacidade</li>
    <li><span role="presentation" aria-hidden="true"> · </span></li>
    <li>Termos</li>
    <li><span role="presentation" aria-hidden="true"> · </span></li>
    <li>Cookies</li>
    <li><span role="presentation" aria-hidden="true"> · </span></li>
    <li>Sobre</li>
    <li><span role="presentation" aria-hidden="true"> · </span></li>
    <li>Desenvolvedores</li>
    <li><span role="presentation" aria-hidden="true"> · </span></li>
    <li>Ajuda</li>
  </ul>
  <small>Angularbook © 2019</small>
</footer>
