.footer
  ul
    list-style: none
    margin: 0
    padding: 0
  li
    float: left
    margin: 0 2px
    color: #90949c
    font-size: 13px
    line-height: 20px
    cursor: pointer
    &:hover
      text-decoration: underline
  small
    width: 100%
    clear: both
    display: block
    font-size: 13px
    color: #616770
    line-height: 30px
    text-indent: 2px
