.footer
  ul
    list-style: none
    margin: 0
    padding: 0
  li
    color: #90949c
    cursor: pointer
    float: left
    font-size: 13px
    line-height: 20px
    margin: 0 2px
    &:hover
      text-decoration: underline
  small
    clear: both
    color: #616770
    display: block
    font-size: 13px
    line-height: 30px
    text-indent: 2px
    width: 100%
  &.login
    background: #fff
    font-size: 14px
    height: 100%
    padding: 20px
    text-align: center
