<app-header>
  <section class="login">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin(loginForm.value)">
      <label for="email">
        <span>Email:</span>
        <input id="email" type="email" formControlName="email" required>
      </label>
      <label for="password">
        <span>Senha:</span>
        <input id="password" type="password" formControlName="password">
      </label>
      <button class="btn primary" type="submit" name="button" [disabled]="!loginForm.valid">
        <span *ngIf="!loadingLogin">Entrar</span>
        <app-loading *ngIf="loadingLogin"></app-loading>
      </button>
    </form>
  </section>
</app-header>
<app-main></app-main>
<app-footer type="login"></app-footer>
