@import "_variables"
@import "_mixins"

.login
  padding: 10px
  color: #fff
  display: flex
  box-sizing: border-box
  +mobile
    position: absolute
    top: 70px
    width: calc(100% - 20px)
    padding: 0
  form
    display: flex
    flex-wrap: wrap
    width: 100%
    align-items: flex-end
    +mobile
      max-width: 416px
      margin: 0 auto
  label, button
    +mobile
      width: 100%
  button
    font-weight: bold
    display: inline-flex
    justify-content: center
    +tablet
      line-height: 18px
      padding: 2px 6px
      font-size: 12px
      min-width: 50px
    +mobile
      display: block
      margin-top: 14px
      text-align: center
  label
    display: flex
    flex-wrap: wrap
    margin-right: 14px
    span, input
      width: 100%
      font-size: 12px
    input
      margin-top: 5px
      height: 25px
      border: 1px solid scale-color($primary, $lightness: -30%)
      padding: 3px
      box-sizing: border-box
    +mobile
      margin: 0
      &:first-of-type input
        border-bottom: 0
        border-radius: 5px 5px 0 0
      &:last-of-type input
        border-radius: 0 0 5px 5px
      span
        display: none
      input
        border: 1px solid #ccc
        padding: 12px
        margin: 0
        height: auto
