@import "_variables"
@import "_mixins"

.login
  box-sizing: border-box
  color: #fff
  display: flex
  padding: 10px
  +mobile
    padding: 0
    position: absolute
    top: 70px
    width: calc(100% - 20px)
  form
    align-items: flex-end
    display: flex
    flex-wrap: wrap
    width: 100%
    +mobile
      margin: 0 auto
      max-width: 416px
  label, button
    +mobile
      width: 100%
  button
    display: inline-flex
    font-weight: bold
    justify-content: center
    +tablet
      font-size: 12px
      line-height: 18px
      min-width: 50px
      padding: 2px 6px
    +mobile
      display: block
      margin-top: 14px
      text-align: center
  label
    display: flex
    flex-wrap: wrap
    margin-right: 14px
    span, input
      font-size: 12px
      width: 100%
    input
      border: 1px solid scale-color($primary, $lightness: -30%)
      box-sizing: border-box
      height: 25px
      margin-top: 5px
      padding: 3px
    +mobile
      margin: 0
      &:first-of-type input
        border-bottom: 0
        border-radius: 5px 5px 0 0
      &:last-of-type input
        border-radius: 0 0 5px 5px
      span
        display: none
      input
        border: 1px solid #ccc
        height: auto
        margin: 0
        padding: 12px

::ng-deep app-main .main
  min-height: calc(100vh - 157px)
  +mobile
    min-height: calc(100vh - 290px)
