@import "_variables"
@import "_mixins"

.header
  background-color: #3b5998
  background-image: linear-gradient(#4e69a2, #3b5998 50%)
  box-sizing: border-box
  +mobile
    background: #fff
    padding-bottom: 140px
  .container
    background-color: #3b5998
    background-image: linear-gradient(#4e69a2, #3b5998 50%)
    margin: 0 auto
    max-width: 980px
    min-height: 42px
    position: relative
    z-index: 1
    display: flex
    justify-content: space-between
    +mobile
      background: #3b5998
      align-items: center
      height: 44px
      box-sizing: border-box
  .logo
    color: #fff
    margin-top: 17px
    transform: translateY(15px)
    +mobile
      width: 100%
      margin: 0
      text-align: center
      font-size: 1.5em
      transform: translateY(3px)

.login
  padding: 10px
  color: #fff
  display: flex
  box-sizing: border-box
  +mobile
    position: absolute
    top: 70px
    width: calc(100% - 20px)
    padding: 0
  form
    display: flex
    flex-wrap: wrap
    width: 100%
    align-items: flex-end
    +mobile
      max-width: 416px
      margin: 0 auto
  label, button
    +mobile
      width: 100%
  button
    font-weight: bold
    display: inline-flex
    justify-content: center
    +tablet
      line-height: 18px
      padding: 2px 6px
      font-size: 12px
      min-width: 50px
    +mobile
      display: block
      margin-top: 14px
      text-align: center
  label
    display: flex
    flex-wrap: wrap
    margin-right: 14px
    span, input
      width: 100%
      font-size: 12px
    input
      margin-top: 5px
      height: 25px
      border: 1px solid scale-color($primary, $lightness: -30%)
      padding: 3px
      box-sizing: border-box
    +mobile
      margin: 0
      &:first-of-type input
        border-bottom: 0
        border-radius: 5px 5px 0 0
      &:last-of-type input
        border-radius: 0 0 5px 5px
      span
        display: none
      input
        border: 1px solid #ccc
        padding: 12px
        margin: 0
        height: auto

.main
  background: linear-gradient(white, #D3D8E8)
  height: calc(100vh - 155px)
  .container
    display: flex
    margin: 0 auto
    max-width: 980px
    .world, .cadastro
      width: 50%
  +mobile
    background: #fff
    height: auto
    .world
      display: none

.world
  h2
    color: #0e385f
    font-size: 20px
    font-weight: bold
    line-height: 29px
    margin-top: 40px
    word-spacing: -1px

.cadastro
  padding: 10px
  .label-ou
    display: none
    width: 100%
    text-align: center
    transform: translateY(15px)
    &:before,
    &:after
      content: ""
      width: calc(50% - 20px)
      height: 1px
      background: #ccd0d5
      display: block
      position: absolute
      top: 10px
    &:after
      right: 0
  h2
    font-size: 36px
    color: #333
    +mobile
      font-size: 22px
  h3
    color: #1d2129
    font-size: 19px
    font-weight: normal
    +mobile
      font-size: 15px
  +mobile
    width: 100% !important
    h2, h3
      text-align: center
    .label-ou
      display: block
  p
    color: #90949c
    font-weight: bold
  label, button
    display: block
  input
    font-size: 18px
    padding: 8px 10px
    border-radius: 5px
    border: 1px solid #ccd0d5
    margin: 0
    box-sizing: border-box
    &.ng-invalid.ng-touched
      border: 1px solid red
  input:not([type="radio"])
    margin-bottom: 10px
    width: 100%
  .name input:first-of-type
    margin-right: 5px
  .name input:last-of-type
    margin-left: 5px
  .name,
  .gender
    display: inline-flex
    width: 100%
    label
      padding: 5px
      +mobile
        width: 100%
        &:nth-of-type(2)
          text-align: center
        &:last-of-type
          text-align: right
      span
        color: #1d2129
        font-size: 18px
        font-weight: normal
        line-height: 18px
        padding: 0 10px 0 3px
  .gender
    +break(500px)
      flex-direction: row
      flex-wrap: wrap
      label
        text-align: left !important

  .terms
    color: #777
    font-size: 11px
    font-weight: normal
    max-width: 316px
    +mobile
      max-width: 100%
      text-align: center
      margin: 30px 10px
  .btn.success
    background: linear-gradient($six, scale-color($six, $lightness: -20%))
    border-radius: 5px
    font-family: 'Freight Sans', Helvetica, Arial, sans-serif !important
    font-weight: bold
    font-size: 19px
    letter-spacing: 1px
    text-rendering: optimizelegibility
    min-width: 194px
    padding: 7px 20px
    text-align: center
    margin: 10px 0
    &:hover
      background: linear-gradient( scale-color($six, $lightness: 10%), scale-color($six, $lightness: -10%))
    +mobile
      width: 80%
      margin: 0 auto
