@import "_variables"
@import "_animations"
@import "_mixins"

.header
  background: $primary
  border-bottom: 1px solid #29487d
  color: #fff
  height: 42px
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 9
.header__content
  height: 42px
  padding: 0 8px
  max-width: 1012px
  margin: 0 auto
  display: flex
  align-items: center
  .box
    width: 100%    
.logo
  cursor: pointer
  display: inline-flex
  margin-right: 5px
  user-select: none
  svg
    transform: translateY(2px)
