@import "../../../styles/base/_variables"
@import "../../../styles/base/_mixins"

.header
  background: $primary
  color: #fff
  padding: 10px

.logo
  font-size: 0
  display: none
  +tablet
    display: block
  svg
    fill: #fff
