.comment
  border-top: 1px
  padding: 8px 12px
  border-top: 1px solid #dadde1
.comment__photo
  border-radius: 100%
  float: left
.comment__input
    background-color: #f2f3f5
    border: 1px solid #ccd0d5
    border-radius: 100px
    color: #8d949e
    font-size: 13px
    padding: 8px 12px
    margin-left: 40px
    outline: none
