@import "_mixins"

.home
  display: flex
.appNavLeft
  width: 200px
  min-width: 200px
  padding: 10px 10px 0 0
  +mobile
    display: none
.appFeed
  width: 100%
.appAside
  width: 300px
  min-width: 300px
  padding: 10px 0 0 10px
  +minimum-desktop
    display: none
