@import base/_variables
@import base/_mixins

html,
body
  padding: 0
  margin: 0
  background: #e9ebee
  font-family: Arial
  overflow-x: hidden

::selection
  background: $primary
  color: #fff
  text-shadow: 0 0 20px $primary

::-webkit-scrollbar-track
  background: #ccc
::-webkit-scrollbar
  width: 5px
  background-color: rgba(#fff,0)
::-webkit-scrollbar-thumb
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0)
  background-color: $secondary

.text-center
  text-align: center

@import components/_btn
