@import "_animations"
@import "_mixins"

.feed
  clear: both
  padding: 10px 0

.feed__post
  background: #fff
  border-radius: 3px
  border: 1px solid #dddfe2
  box-sizing: border-box
  margin-bottom: 10px
  transition: .3s all
  will-change: all
  +tablet
    width: 50%

.feed__container
  padding: 12px
  font-size: 14px
  h1, p
    transition: .3s all
  p
    margin: 10px 0
    clear: left

.feed__content
  white-space: pre
  clear: left

.feed__photo
  border-radius: 100%
  float: left
  margin-right: 8px
  display: inline-block
  cursor: pointer
  outline: none

.feed__header
  float: left
  h1, .feed__date
    display: inline-block
    float: left
    cursor: pointer
    outline: none
    &:hover
      text-decoration: underline
  h1
    color: $third
    font-weight: 600
    font-size: 14px
    margin: 0

.feed__date
  color: #616770
  font-size: 12px
