<section class="feed" *ngIf="feed">
  <app-post *ngIf="user" [user]="user" (updateFeed)="getFeed()"></app-post>
  <article class="feed__post" *ngFor="let post of feed">
    <div class="feed__container">
      <img class="feed__photo" [routerLink]="['/perfil', user.username]" [src]="post.photo" [alt]="post.name" width="40" height="40">
      <div class="feed__header">
        <h1 [routerLink]="['perfil', user.username]">{{ post.name }}</h1>
        <p class="feed__date" [routerLink]="['/perfil', user.username]">{{ post.data }}</p>
      </div>
      <div class="feed__content" [innerHTML]="post.comment"></div>
    </div>
    <app-reacts [comment]="comment"></app-reacts>
    <app-comment #comment [user]="user"></app-comment>
  </article>
</section>
