@import "../../../styles/base/_animations"
@import "../../../styles/base/_mixins"

.feed
  clear: both
  padding: 10px 0
  +tablet
    float: left
    width: 70%
  +desktop
    align-items: stretch
    display: flex
    flex-wrap: wrap

.feed__post
  background: #fff
  border-radius: 6px
  box-shadow: inset 0 -4px 10px rgba(#000, .15)
  box-sizing: border-box
  margin-bottom: 10px
  padding: 20px
  transition: .3s all
  will-change: all
  &:hover
    padding-bottom: 50px
    .feed__photo
      animation: force 3s infinite alternate
      transition: .3s all
    .feed__content
      h1
        border-bottom-color: $primary
        color: $primary
      p
        color: $secondary
  &:after
    clear: both
    content: ''
    display: table
  +desktop
    float: left
    margin-right: 10px
    width: calc(50% - 5px)
    &:nth-of-type(2n)
      margin-right: 0

.feed__photo
  border-radius: 6px
  float: left
  margin-right: 20px
  transition: .3s all
  +tablet
    width: 100px
    height: 100px

.feed__content
  display: flex
  flex-direction: row
  flex-wrap: wrap
  margin: 0
  transition: .3s all
  will-change: font-size
  h1, p
    transition: .3s all
    width: 100%
  h1
    border-bottom: 2px dotted #ccc
    margin: 0
    padding-bottom: 10px
