<section class="feed">
  <article class="feed__post" *ngFor="let post of feed">
    <div class="feed__container">
      <img class="feed__photo" [routerLink]="['perfil', user.id_user]" [src]="post.photo" [alt]="post.name" width="40" height="40">
      <div class="feed__header">
        <h1 [routerLink]="['perfil', user.id_user]">{{ post.name }}</h1>
        <p class="feed__date" [routerLink]="['perfil', user.name]">{{ post.date }}</p>
      </div>
      <div class="feed__content" [innerHTML]="post.content">
      </div>
    </div>
    <app-comment [user]="user"></app-comment>
  </article>
</section>
