<section class="cadastro">
  <h1>Cadastro</h1>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
    <label for="name">Nome:</label>
    <input id="name" type="text" formControlName="name" required>
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email" required>
    <label for="bio">Bio:</label>
    <input id="bio" type="text" formControlName="bio">
    <label for="location">Location:</label>
    <input id="location" type="text" formControlName="location">
    <label for="relationship">Relationship:</label>
    <input id="relationship" type="text" formControlName="relationship">
    <button type="submit" name="button" [disabled]="!registerForm.valid">Enviar</button>
  </form>
</section>
