@import "../../../styles/base/_mixins"

.nav
  display: inline-flex
  .btn
    margin-right: 10px
    &:last-of-type
      margin-right: 0
  +tablet
    float: right
  button
    margin-right: 0
    position: absolute
    right: 10px
    +tablet
      display: none
