@import "_mixins"
@import "_variables"

.nav
  display: inline-flex

.btn__bullet
  background: transparent
  padding: 5px
  margin: 0 5px
  box-shadow: none
  color: #fff
  display: inline-flex
  align-items: center
  &:hover
    .icon
      fill: #fff
      filter: drop-shadow(0 0 5px rgba(#000, .5))
  .icon
    margin-left: 10px
    fill: $secondary
    filter: drop-shadow(0 0 5px rgba(#fff, .5))
