@import "../../../styles/base/_mixins"

.nav
  display: inline-flex
  float: right
  .btn
    margin-right: 10px
    &:first-of-type
      display: block
      position: absolute
      top: 10px
      left: 10px
    &:last-of-type
      margin-right: 0
    .text
      font-size: 0
    .icon
      margin: 0
  +tablet
    .btn
      &:first-of-type
        display: none
