@import "_mixins"

.post
  background: #fff
  border-radius: 3px
  border: 1px solid #dddfe2
  box-sizing: border-box
  margin-bottom: 10px
  transition: 0.3s all
.post__container
  padding: 0 0 12px 12px
  font-size: 14px
  position: relative
  &.active
    background: #fff
    border-radius: 3px
    z-index: 333
  .btn.default.full
    margin-top: 10px
    width: calc(100% - 10px)
.post__photo
  border-radius: 100%
  margin: 10px 10px 0 0
  float: left
.post__input_content
  color: #333
  white-space: pre-wrap
  overflow-wrap: break-word
  width: calc(100% - 50px)
  padding: 22px 10px
  float: left
  outline: none
  box-sizing: border-box
  display: inline-block
.post__close
  position: absolute
  right: 10px
  top: 10px
  fill: #aaa
  cursor: pointer
  transition: .3s all
  &:hover
    fill: #444
    transform: scale(1.1)
.post__input_placeholder
  color: #ccc
  position: absolute
  top: 20px
  left: 65px
  pointer-events: none
  &.focus
    font-size: 23px
    top: 18px
    left: 75px
  &.disable
    display: none

.post__input_options
  width: 100%
  padding-top: 10px
  clear: both
  display: flex
  justify-content: flex-start
  position: relative
  &:before
    content: ""
    display: flex
    width: 100%
    height: 1px
    background: #e9ebee
    position: absolute
    top: 5px
  button
    width: 100%
    background: transparent
    border: 0
    display: flex
    align-items: center
    padding: 10px
    i
      margin-right: 10px
.post__overlay
  background: #000
  bottom: 100%
  left: 0
  opacity: 0
  position: fixed
  right: 0
  top: 0
  transition: opacity .3s, bottom 0s .3s
  z-index: 310
  &.active
    bottom: 0%
    opacity: .6
    transition: opacity .3s
