.post
  background: #fff
  padding: 10px
  box-sizing: border-box

.post__photo
  border-radius: 4px

.post__input
  width: 80%
  margin-left: 10px
  padding: 10px

.post__options
  width: 100%
  list-style: none
  margin: 10px 0
  padding: 0
  &:after
    content: ''
    clear: both
    display: table
  li
    margin-right: 10px
    float: left
    &:last-of-type
      margin-right: 0
