<section class="post">
  <div class="post__row">
    <img class="post__photo" src="assets/skywalker.jpg" alt="Lucas" width="20%" height="20%">
    <textarea class="post__input" placeholder="No que está pensando?"></textarea>
  </div>
  <ul class="post__options">
    <li>
      <button class="btn btn__default" type="button" name="foto">Foto</button>
    </li>
    <li>
      <button class="btn btn__default" type="button" name="status">Sentimentos/atitividade</button>
    </li>
    <li>
      <button class="btn btn__default" type="button" name="checkin">Check-in</button>
    </li>
    <li>
      <button class="btn btn__default" type="button" name="mark">Marcar amigos</button>
    </li>
  </ul>
</section>
